

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Calorie Calculator</title>
    <script>
        function addInputFields() {
            const container = document.getElementById('food-inputs');
            const inputField = document.createElement('div');
            inputField.innerHTML = `
                <select name="food_name[]">
                    {% for ingredient in ingredients %}
                        <option value="{{ ingredient.name }}">{{ ingredient.name }}</option>
                    {% endfor %}
                </select>
                <input type="number" name="food_amount[]" placeholder="Amount (grams)">
            `;
            container.appendChild(inputField);
        }
    </script>
</head>
<body>
    <div class="navbar">
        {% include 'navbar.html' %}
    </div>
    <div>
        <h1>Food Calorie Calculator</h1>
    </div>
    <div class="calculator-form">
        <form method="post">
            {% csrf_token %}
            <div id="food-inputs">
                <!-- Initial input fields -->
                <select name="food_name[]">
                    {% for ingredient in ingredients %}
                        <option value="{{ ingredient.name }}">{{ ingredient.name }}</option>
                    {% endfor %}
                </select>
                <input type="number" name="food_amount[]" placeholder="Amount (grams)">
                <select name="meal_type">
                    <option value="breakfast">Breakfast</option>
                    <option value="lunch">Lunch</option>
                    <option value="dinner">Dinner</option>
                    <option value="snack">Snack</option>
                    <option value="after_workout">After Workout</option>
                    <option value="preworkout">Pre-workout</option>
                </select>
            </div>
            <button type="button" onclick="addInputFields()">Add Another Food</button>
            <button type="submit">Calculate Calories</button>
        </form>
    </div>
</body>
</html>

